.App {
    margin: 50px auto;
    padding: -30px;
    max-width: 600px;
    border-radius: 10px;
    height: 300px;
    text-align: center;
    font-family: sans-serif;
}
.Rating {
    margin: 15px auto;
}
.App > div {
}
.ControlledInput {
    margin: 20px auto;
}
.UnControlledInput {
    margin: 20px auto;
}

.ControlledSelect {
    margin: 20px auto;
}

.uncontrolledSelect {
    margin: 10px ;
    border: black 1px solid;

}
.uncontrolledOption {
    padding: 4px;

}