.App {
    margin: 60px;
    padding: -30px;
    max-width: 600px;
    font-weight: bold;
    border-radius: 10px;
    height: 300px;
    text-align: center;
    font-family: sans-serif;
}

.App > div {
}

.Counter {
    text-align: center;
}


.active {
    margin: 10px 10px 10px 10px;
    width: 100px;
    height: 25px;
    background-color: hotpink;
    border: hotpink;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

.disabled {
    margin: 10px 10px 10px 10px;
    width: 100px;
    height: 25px;
    background-color: darkgrey;
    border: darkgrey;
    border-radius: 3px;
    color: white;

}